[submodule "repos/gdi-userportal-ckanext-gdi-userportal"]
	path = repos/gdi-userportal-ckanext-gdi-userportal
	url = git@github.com:GenomicDataInfrastructure/gdi-userportal-ckanext-gdi-userportal.git
[submodule "repos/gdi-userportal-frontend"]
	path = repos/gdi-userportal-frontend
	url = git@github.com:GenomicDataInfrastructure/gdi-userportal-frontend.git
[submodule "repos/gdi-userportal-apigateway"]
	path = repos/gdi-userportal-apigateway
	url = git@github.com:GenomicDataInfrastructure/gdi-userportal-apigateway.git
[submodule "repos/gdi-userportal-ckan-docker"]
	path = repos/gdi-userportal-ckan-docker
	url = git@github.com:GenomicDataInfrastructure/gdi-userportal-ckan-docker.git
	branch = user-portal-main
[submodule "repos/gdi-userportal-docs"]
	path = repos/gdi-userportal-docs
	url = git@github.com:GenomicDataInfrastructure/gdi-userportal-docs.git
[submodule "repos/gdi-userportal-access-management-service"]
	path = repos/gdi-userportal-access-management-service
	url = git@github.com:GenomicDataInfrastructure/gdi-userportal-access-management-service.git
[submodule "repos/gdi-userportal-dataset-discovery-service"]
	path = repos/gdi-userportal-dataset-discovery-service
	url = git@github.com:GenomicDataInfrastructure/gdi-userportal-dataset-discovery-service.git
[submodule "repos/gdi-userportal-ckanext-fairdatapoint"]
	path = repos/gdi-userportal-ckanext-fairdatapoint
	url = git@github.com:GenomicDataInfrastructure/gdi-userportal-ckanext-fairdatapoint.git
[submodule "repos/gdi-userportal-deployment"]
	path = repos/gdi-userportal-deployment
	url = git@github.com:GenomicDataInfrastructure/gdi-userportal-deployment.git
[submodule "repos/gdi-userportal-rems-synchronizer"]
	path = repos/gdi-userportal-rems-synchronizer
	url = git@github.com:GenomicDataInfrastructure/gdi-userportal-rems-synchronizer.git
